@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*This names the website tab*@
@{
    ViewData["Title"] = "Confirmation";
}

@model Entertainer //This is the model I want to use in this view

<h1>Confirmation</h1>
<h3>New Entertainer Created</h3>

