@{
    ViewData["Title"] = "Home Page";
}

@model List<Entertainer>


<h1>Welcome to our Entertainer Site!</h1>

<br />

<div> 
    <a asp-controller="Home" asp-action="ListofEntertainerstoBook">Check out which entertainers are avaliable to book</a> @* a link to stage names of potential entertainers to book *@
</div>


